@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#ext_menu-4 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-4 .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-4 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-4 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

#ext_menu-17 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-17 .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-17 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-17 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#header4-18 DIV {
  font-size: 25px;
}
#header4-18 SPAN {
  font-size: 25px;
}
#header4-18 H1 {
  font-size: 30px;
}
#header4-18 P {
  font-size: 18px;
}

#ext_menu-20 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-20.mbr-navbar--stuck .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-20 .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-20 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-20 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#header4-21 DIV {
  font-size: 25px;
}
#header4-21 SPAN {
  font-size: 25px;
}
#header4-21 H1 {
  font-size: 30px;
}
#header4-21 P {
  font-size: 18px;
}


#ext_menu-26 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-26.mbr-navbar--stuck .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-26 .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-26 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-26 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#header3-11 H3 {
  font-family: 'Open Sans', sans-serif;
}
#header3-11 B {
  font-size: 18px;
}


#ext_menu-12 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-12 .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-12 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-12 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#header3-14 H3 {
  font-family: 'Open Sans', sans-serif;
}
#header3-14 B {
  font-size: 18px;
}
#header3-14 P {
  font-size: 16px;
}

#ext_menu-15 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-15.mbr-navbar--stuck .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-15 .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-15 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-15 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#content5-18 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 30px;
}
#content5-18 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-18 .mbr-article {
  color: #fff;
  font-size: 20px;
}
#content5-18 .mbr-article P {
  font-size: 20px;
}

#ext_menu-19 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-19.mbr-navbar--stuck .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-19 .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-19 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-19 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#content5-20 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 30px;
}
#content5-20 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-20 .mbr-article {
  color: #fff;
  font-size: 20px;
}
#content5-20 .mbr-article P {
  font-size: 20px;
}

#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-24 .mbr-navbar__section {
  background: #9365b8;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-24 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#header3-29 P {
  text-align: left;
  font-size: 16px;
}
